.container {
	min-height: 100vh;
	width: 100%;
	background: #222222;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.reset_btn {
	width: 200px;
	height: 40px;
	margin: 25px;
	cursor: pointer;
	color: darkorange;
	outline: none;
	background: rgb(60, 60, 60);
	border:  1px solid;
	border-radius: 5px;
	font-size: 20px;
	
}

.reset_btn:hover {
	background: rgb(97, 96, 96);
	font-size: 22px;
	transition: 1s all ease;
}

.info {
	margin-top: 20px;
	color: darkorange;
	font-size: 24px;
}

